<div ng-app>
  <div id="logindiv" [ngStyle]="{'background-color': test,'background-image': 'url(' + url + ')'}">
    <div class="row">
      <div class="col-lg-6">
      </div>
      <div class="col-lg-4">
      </div>
      <div class="col-lg-2">
        <div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Change BackGround
          </button>
          <div class="dropdown-menu">
            <input type="color" [(ngModel)]="test" class="dropdown-item" id="selectedcol" name="favcolor" data-toggle="collapse" value="#ff0000">
            <a class="dropdown-item" href="#">Change Image</a>

            <!-- <img [src]="url" height="200"> <br/> -->
            <!-- <input type='file' (change)="onSelectFile($event)"> -->
            <!-- <button type="button" class="btn btn-primary"  (click)="removeimage">
    Remove Image
</button> -->

          </div>
        </div>
      </div>
    </div>
    <br>


    <form>
      <div class="login-wrap">
        <div class="login-html">
          <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
          <label for="tab-1" class="tab">Sign In</label>
          <input id="tab-2" type="radio" name="tab" class="for-pwd">
          <label for="tab-2" class="tab">Forgot Password</label>
          <div class="login-form">
            <div class="sign-in-htm">
              <div class="group">
                <label for="user" class="label">Username or Email</label>
                <input id="user" type="text" class="input" required>
              </div>
              <div class="group">
                <label for="pass" class="label">Password</label>
                <input id="pass" type="password" class="input" data-type="password" required>
              </div>
              <div class="group">
                <input type="submit" class="button" value="Sign In" [routerLink]="['/machineprev']">
              </div>
              <div class="hr"></div>
            </div>
            <div class="for-pwd-htm">
              <div class="group">
                <label for="user" class="label">Username or Email</label>
                <input id="frguser" type="text" class="input">
              </div>
              <div class="group">
                <input type="submit" class="button" value="Reset Password">
              </div>
              <div class="hr"></div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
